extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 #{projects[id].project_name}
        p.lead.text-light
          | #{projects[id].description}

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technologies
        ul
          // loop through technologies of the project to build list items
          each val in projects[id].technologies
            li= val
        // link to live project and project github page which open in new browser tabs
        a.button.expanded(href=`${projects[id].live_link}` target='_blank') Live Demo
        a.button.expanded(href=`${projects[id].github_link}` target='_blank') GitHub Repo
    // loop through project image urls to display all images but the first which is the thumbnail
    each val, index in projects[id].image_urls
      if index !== 0
        img.image(src=`${projects[id].image_urls[index]}`)